@charset "UTF-8";
/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'Montserrat Alternates', sans-serif;
  background-image: url(../img/fondo.jpg);
  background-repeat: repeat;
  background-size: auto; }

/* HEADER */
header {
  background-color: #1a1818;
  margin: 0; }
  header h1 {
    color: #23439b;
    background-color: #1a1818;
    padding: 0.5rem;
    margin: 0px; }

.no-padding {
  padding: 0; }

/* MENU NAV */
.nav-link:hover {
  text-decoration: underline; }

.navbar-toggler {
  background-color: #4fa3dc; }

/* MAIN */
main h2 {
  text-decoration: underline;
  color: #c5d9e7;
  margin: 0;
  padding: 0;
  display: grid;
  justify-content: center; }

main p {
  color: white;
  text-indent: 0.5rem; }

main h3 {
  color: white; }

/* MAIN (INDEX) */
.index-main p {
  margin-bottom: 0px; }

.imagen-index {
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-row: auto; }
  .imagen-index p {
    margin-right: 0.5rem; }

.section-img {
  display: flex;
  justify-content: space-evenly; }

.section-img1, .section-img2 {
  width: 400px;
  height: 300px; }

/* MAIN (GALERÍA) */
.galeria-p p {
  margin-bottom: 0.5rem; }

.galeria-img {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: 80%;
  justify-content: space-evenly; }
  .galeria-img .row {
    display: grid;
    height: 100%;
    width: auto;
    margin: 0.5rem; }

/* MAIN (NOTICIAS) */
.news {
  display: flex;
  justify-content: space-evenly; }
  .news .noticias {
    width: 300px;
    margin: 20px; }
    .news .noticias img {
      width: 100%;
      height: auto; }
    .news .noticias h3 {
      font-style: italic; }
    .news .noticias p {
      margin-bottom: 10px; }
    .news .noticias a {
      display: block;
      margin-top: 10px;
      color: white; }
    .news .noticias a:hover {
      font-style: italic; }

/* MAIN (SOBRENOSOTROS) */
.info .formulario {
  display: block; }
  .info .formulario fieldset {
    color: white;
    display: inline-block; }
  .info .formulario label, .info .formulario textarea {
    display: block; }

.info h3 {
  text-decoration: underline; }

.info ul {
  color: white; }

/* FOOTER */
footer {
  background-color: #1a1818;
  padding: 5px; }
  footer h4 {
    margin: 5px;
    text-align: center;
    color: #395cbb; }

/* media queries celular*/
@media screen and (min-width: 400px) {
  /* MENU NAV */
  .navbar-fixed .navbar-collapse {
    display: block;
    position: static;
    height: auto; }
  .navbar-fixed .navbar-nav {
    flex-direction: row; }
  .navbar-fixed .navbar-nav .nav-item {
    text-align: center; }
  .navbar-fixed .navbar-nav .nav-link {
    padding: 3px;
    margin: 3px; }
  /* INDEX */
  .imagen-index {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, 50%); }
  .imagen-index p {
    flex-direction: column;
    width: auto; }
  .section-img {
    display: flex;
    flex-direction: column; }
  .index-section-img img {
    width: 100%;
    height: auto;
    margin: 5px;
    padding: 5px; }
  /* GALERÍA */
  .galeria-img {
    display: flex;
    flex-direction: column; }
  .galeria-img .row img {
    margin-bottom: 0.5rem; }
  /* NOTICIAS */
  .news {
    width: fit-content;
    display: flex;
    flex-flow: column nowrap; } }

/* media queries desktop */
@media screen and (min-width: 1024px) {
  /* MENU NAV */
  .navbar-fixed .navbar-nav {
    flex-direction: row; }
  .navbar-fixed .navbar-nav .nav-item {
    width: auto;
    text-align: center; }
  .navbar-fixed .navbar-nav .nav-link {
    padding: 8px;
    margin: 0; }
  /* INDEX */
  .imagen-index {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: auto; }
  .imagen-index img {
    width: auto;
    height: 80%; }
  .index-section-img {
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 400px;
    justify-content: center;
    gap: 20px;
    padding: 10px; }
  /* GALERÍA */
  .galeria-p p {
    margin-bottom: 6px; }
  .no-margin {
    margin: 4px; }
  .galeria-img {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: 80%;
    justify-content: space-evenly; }
  /* NOTICIAS */
  .news {
    display: flex;
    flex-direction: row;
    width: fit-content; }
  .noticias {
    width: fit-content;
    height: auto; } }
