@charset "UTF-8";
/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.index-main .intro-img img, .index-main .introduccion-dos .div-uno .div-uno-imagen img, .index-main .introduccion-dos .div-dos a img, .universo-main .seccion-dos-universo a img, .carousel-inner .carousel-item img, .galeria-img div img {
  box-shadow: 1px 2px 20px 0 #c5d9e7; }

.index-main .intro-img, .universo-main .div-universo {
  display: flex;
  justify-content: center;
  padding: 0.5rem; }

main h2 {
  text-decoration: underline;
  color: #c5d9e7;
  margin: 0.5rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center; }

main p {
  color: white;
  text-indent: 0.5rem;
  text-shadow: 0 0 10px black;
  background-color: rgba(0, 0, 0, 0.65);
  margin-bottom: 0; }

/* -- MEDIA QUERIES CELULAR -- */
@media screen and (min-width: 345px) and (max-width: 767px) {
  /* GENERAL */
  h1, h2 {
    text-align: center; }
  p {
    text-align: justify; }
  /* MAIN - INDEX */
  .index-main {
    /* SECCIÓN 2 Y 3 - INDEX */ }
    .index-main .intro-img img {
      width: 40vh;
      height: auto; }
    .index-main .introduccion, .index-main .introduccion-dos {
      display: flex;
      flex-flow: column wrap;
      justify-content: none;
      align-items: center; }
      .index-main .introduccion h3, .index-main .introduccion-dos h3 {
        text-align: center; }
      .index-main .introduccion .div-uno .p1, .index-main .introduccion .div-uno .div-uno-imagen, .index-main .introduccion .div-uno a, .index-main .introduccion .div-dos .p1, .index-main .introduccion .div-dos .div-uno-imagen, .index-main .introduccion .div-dos a, .index-main .introduccion-dos .div-uno .p1, .index-main .introduccion-dos .div-uno .div-uno-imagen, .index-main .introduccion-dos .div-uno a, .index-main .introduccion-dos .div-dos .p1, .index-main .introduccion-dos .div-dos .div-uno-imagen, .index-main .introduccion-dos .div-dos a {
        display: none; }
  /* MAIN - EL UNIVERSO*/
  .universo-main h3, .universo-main h4 {
    text-align: center; }
  .universo-main .div-universo a img {
    width: 40vh;
    height: auto; }
  .universo-main .seccion-dos-universo {
    display: flex;
    flex-flow: column wrap;
    justify-content: none;
    align-items: center; }
    .universo-main .seccion-dos-universo a {
      width: 100%;
      height: auto; }
      .universo-main .seccion-dos-universo a img {
        width: 80% !important;
        height: auto !important; }
  /* MAIN - GALERÍA */
  .galeria-main .carousel .carousel-item img {
    width: 270px;
    height: auto; }
  .galeria-main .galeria-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: none;
    align-items: none; }
    .galeria-main .galeria-img img {
      justify-content: center;
      width: 40vh;
      height: auto; }
  /* MAIN - NOTICIAS */
  .noticias .div-news1, .noticias .div-news2 {
    grid: none !important;
    overflow: hidden; }
    .noticias .div-news1 .noticia, .noticias .div-news2 .noticia {
      margin-bottom: 1rem; }
  /* MAIN - SOBRE NOSOTROS */
  .sobrenosotros-main .formulario {
    overflow: hidden; }
    .sobrenosotros-main .formulario textarea {
      width: 100%; } }

/* MEDIA QUERIES TABLET */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* MENU NAV */
  .navbar .navbar-collapse {
    display: flex !important;
    justify-content: flex-start; }
  .navbar .navbar-nav {
    flex-direction: row; }
  .navbar .nav-item {
    margin-left: 1rem; }
  .navbar .navbar-toggler {
    display: none; }
  /* INDEX */
  .index-main .introduccion-dos .div-uno {
    display: flex;
    flex-flow: column wrap;
    justify-content: none;
    align-items: center; }
    .index-main .introduccion-dos .div-uno div .p1 {
      margin-bottom: 0.5rem; }
  .index-main .introduccion-dos .div-dos {
    display: flex;
    flex-flow: column wrap;
    justify-content: none;
    align-items: center; }
    .index-main .introduccion-dos .div-dos a {
      margin-bottom: 0.6rem; }
  /* EL UNIVERSO */
  .universo-main .div-universo a img {
    width: 40vh;
    height: auto; }
  /* GALERÍA */
  .galeria-main .carousel {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem; }
    .galeria-main .carousel .carousel-item img {
      width: 500px;
      height: auto; }
  .galeria-main .galeria-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center; }
    .galeria-main .galeria-img div {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center; }
      .galeria-main .galeria-img div img {
        width: 55%;
        height: auto;
        margin-top: 0.5rem; }
  /* NOTICIAS */
  .noticias {
    overflow: hidden; }
    .noticias .div-news1 .noticia, .noticias .div-news2 .noticia {
      justify-content: space-evenly; }
      .noticias .div-news1 .noticia p, .noticias .div-news2 .noticia p {
        display: none; } }

@media screen and (min-width: 1024px) {
  /* INDEX */ }

/* -- MAIN (INDEX) -- */
.index-main .intro-img img {
  border-radius: 50%; }

.index-main .introduccion p, .index-main .introduccion-dos p {
  margin: 0;
  height: fit-content; }

.index-main .introduccion-dos {
  padding: 0; }
  .index-main .introduccion-dos .div-uno {
    margin: 0.1rem;
    padding: 0;
    display: flex; }
    .index-main .introduccion-dos .div-uno .div-uno-imagen img {
      width: auto;
      height: 300px;
      border-radius: 30px;
      margin-left: 0.5rem; }
  .index-main .introduccion-dos .div-dos {
    display: flex;
    padding: 0.1rem; }
    .index-main .introduccion-dos .div-dos div p {
      margin-left: 0.5rem; }
    .index-main .introduccion-dos .div-dos a img {
      margin-right: 0.5rem;
      width: 450px;
      height: auto;
      border-radius: 30px; }

/* MAIN (EL UNIVERSO) */
.universo-main .click-img {
  width: auto;
  display: inline; }
  .universo-main .click-img a {
    font-style: italic;
    text-decoration: none;
    color: white; }
  .universo-main .click-img a:hover {
    text-decoration: dashed;
    color: #c5d9e7; }

.universo-main .div-universo img {
  width: 750px;
  height: auto; }

.universo-main .seccion-dos-universo a {
  display: flex;
  justify-content: center; }
  .universo-main .seccion-dos-universo a img {
    width: auto;
    height: 300px;
    border-radius: 30px; }

/* -- MAIN (GALERÍA) -- */
.galeria-p {
  margin-bottom: 0.5rem; }

.carousel-inner {
  overflow: visible; }
  .carousel-inner .carousel-item img {
    border-radius: 20px; }

.carrusel-p {
  margin-top: 0.5rem; }

.galeria-img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 50%);
  justify-content: space-evenly;
  margin: 0.5rem;
  gap: 0.3rem; }
  .galeria-img div {
    width: auto;
    height: 100%; }
    .galeria-img div img {
      width: 400px;
      height: auto;
      padding: 0;
      margin-bottom: 0.7rem;
      border-radius: 25px; }

/* -- MAIN (NOTICIAS) -- */
.noticias-main .noticias h3 {
  font-style: italic; }

.noticias-main .noticias img {
  width: 100%;
  height: auto;
  border-radius: 10px; }

.noticias-main .noticias p {
  margin-top: 0.2rem; }

.noticias-main .noticias a {
  margin-top: 0.2rem;
  color: white; }

.noticias-main .noticias a:hover {
  font-style: italic; }

.noticias-main .noticias .div-news1, .noticias-main .noticias .div-news2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  justify-items: center; }
  .noticias-main .noticias .div-news1 fieldset, .noticias-main .noticias .div-news2 fieldset {
    color: #c5d9e7;
    border-radius: 10px;
    border: 2px solid #c5d9e7;
    padding: 0.5rem; }
  .noticias-main .noticias .div-news1 .noticia, .noticias-main .noticias .div-news2 .noticia {
    width: 300px;
    margin: 20px; }

.noticias-main .lista-noticias ul {
  background-color: rgba(0, 0, 0, 0.65); }
  .noticias-main .lista-noticias ul li {
    color: white; }
    .noticias-main .lista-noticias ul li a {
      color: white; }
    .noticias-main .lista-noticias ul li a:hover {
      font-style: italic;
      text-decoration: underline #c5d9e7;
      color: #c5d9e7; }

/* -- MAIN (SOBRENOSOTROS) -- */
.sobrenosotros-main .info-uno h3, .sobrenosotros-main .info-dos h3 {
  text-decoration: underline; }

.sobrenosotros-main .info-uno ul {
  color: white;
  margin-bottom: 0; }
  .sobrenosotros-main .info-uno ul li img {
    background-color: white; }
  .sobrenosotros-main .info-uno ul a {
    text-decoration: none;
    color: white;
    font-style: italic; }
  .sobrenosotros-main .info-uno ul a:hover {
    text-decoration: underline;
    color: #c5d9e7; }

.sobrenosotros-main .info-dos .formulario {
  display: flex; }
  .sobrenosotros-main .info-dos .formulario .comment-form {
    display: flex;
    flex-flow: column wrap;
    color: #c5d9e7;
    border-radius: 10px;
    border: 2px solid #c5d9e7;
    padding: 0.5rem; }
    .sobrenosotros-main .info-dos .formulario .comment-form input {
      width: 200px;
      height: auto; }
    .sobrenosotros-main .info-dos .formulario .comment-form textarea {
      margin-bottom: 0.5rem; }
    .sobrenosotros-main .info-dos .formulario .comment-form .boton-enviar {
      background-color: #c5d9e7;
      color: #333;
      border: none;
      padding: 0.5rem;
      border-radius: 5px; }
    .sobrenosotros-main .info-dos .formulario .comment-form .boton-enviar:hover {
      background-color: #ccc;
      color: #fff; }

.sobrenosotros-main .mapa {
  margin: 1rem; }

/* -- BODY -- */
body {
  font-family: 'Montserrat Alternates', sans-serif;
  background-image: url(../img/fondo.jpg);
  background-repeat: repeat;
  background-size: auto; }
  body .no-padding {
    padding: 0; }

/* -- HEADER -- */
header {
  background-color: #1a1818;
  margin: 0;
  /* -- MENU NAV -- */ }
  header div {
    display: flex;
    align-items: center; }
    header div a img {
      width: 95px;
      height: 95px;
      margin: 0.5rem;
      padding: 0.5rem; }
    header div h1 {
      color: #23439b;
      background-color: #1a1818;
      padding: 0.5rem;
      margin: 0; }
  header nav .navbar-toggler {
    background-color: #c5d9e7; }
  header nav .nav-link:hover {
    text-decoration: underline #c5d9e7;
    color: #c5d9e7; }
  header nav .nav-link:active {
    color: #c5d9e7; }

/* -- MAIN -- */
main h3 {
  color: #c5d9e7;
  margin-top: 0.5rem; }

main h4 {
  color: #c5d9e7; }

main img {
  transition: transform 0.3s ease; }

main img:hover {
  transform: scale(1.02); }

main hr {
  color: white; }

/* -- FOOTER -- */
.pie-pagina {
  background-color: #1a1818;
  margin-top: 0.7rem;
  padding: 0.5rem;
  display: flex;
  align-items: center; }
  .pie-pagina h4 {
    background-color: #1a1818;
    color: #23439b;
    margin: 0.5rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto; }
  .pie-pagina p {
    color: #c5d9e7;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem; }
  .pie-pagina .footer-icons {
    display: flex;
    width: fit-content; }
    .pie-pagina .footer-icons a {
      padding: 0.5rem;
      transition: transform 0.3s ease; }
    .pie-pagina .footer-icons a:hover {
      transform: scale(1.1); }
