@charset "UTF-8";
/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.index-main div img, .index-main .introduccion-dos .div-uno img, .index-main .introduccion-dos .div-dos img, .carousel-item img, .galeria-img div img, .noticias img {
  box-shadow: #c5d9e7 2px 2px 20px; }

.index-main div, .universo-main .div-universo {
  display: flex;
  justify-content: center;
  padding: 0.5rem; }

main h2 {
  text-decoration: underline;
  color: #c5d9e7;
  margin: 0.5rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center; }

main p {
  color: white;
  text-indent: 0.5rem;
  background-color: rgba(0, 0, 0, 0.65);
  margin-bottom: 0.1rem; }

/* -- MAIN (INDEX) -- */
.index-main div img {
  border-radius: 25px; }

.index-main .introduccion p, .index-main .introduccion-dos p {
  margin: 0.1rem;
  height: fit-content; }

.index-main .introduccion-dos {
  padding: 0; }
  .index-main .introduccion-dos .div-uno {
    margin: 0.1rem;
    padding: 0;
    display: grid;
    grid-template-areas: "p1 section-img1" "p2 section-img1"; }
    .index-main .introduccion-dos .div-uno .p1 {
      grid-area: p1; }
    .index-main .introduccion-dos .div-uno .p2 {
      grid-area: p2; }
    .index-main .introduccion-dos .div-uno img {
      width: auto;
      height: 300px;
      grid-area: section-img1;
      margin-left: 0.5rem; }
  .index-main .introduccion-dos .div-dos {
    display: grid;
    grid-template-areas: "h33 h33" "section-img2 p3";
    padding: 0.1rem; }
    .index-main .introduccion-dos .div-dos h3 {
      grid-area: h33; }
    .index-main .introduccion-dos .div-dos p {
      grid-area: p3;
      align-self: center;
      justify-self: center;
      margin-left: 0.5rem; }
    .index-main .introduccion-dos .div-dos img {
      grid-area: section-img2;
      margin-right: 0.5rem;
      width: 450px;
      height: auto; }

/* MAIN (EL UNIVERSO) */
.universo-main .click-img {
  width: auto;
  display: inline; }
  .universo-main .click-img a {
    font-style: italic;
    text-decoration: none;
    color: white; }

.universo-main .div-universo img {
  width: 750px;
  height: auto; }

/* -- MAIN (GALERÍA) -- */
.galeria-p {
  margin-bottom: 0.5rem; }

.carousel-item img {
  border-radius: 20px; }

.carrusel-p {
  margin-top: 0.5rem; }

.galeria-img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 50%);
  justify-content: space-evenly;
  margin: 0.5rem;
  gap: 0.3rem; }
  .galeria-img div {
    width: auto;
    height: 100%; }
    .galeria-img div img {
      width: 400px;
      height: auto;
      padding: 0;
      margin-bottom: 0.7rem;
      border-radius: 25px; }

/* -- MAIN (NOTICIAS) -- */
.noticias h3 {
  font-style: italic; }

.noticias img {
  width: 100%;
  height: auto;
  border-radius: 10px; }

.noticias p {
  margin-top: 0.2rem; }

.noticias a {
  margin-top: 0.2rem;
  color: white; }

.noticias a:hover {
  font-style: italic; }

.noticias .div-news1, .noticias .div-news2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  justify-items: center; }
  .noticias .div-news1 fieldset, .noticias .div-news2 fieldset {
    color: #c5d9e7;
    border-radius: 10px;
    border: 2px solid #c5d9e7;
    padding: 0.5rem; }
  .noticias .div-news1 .noticia, .noticias .div-news2 .noticia {
    width: 300px;
    margin: 20px; }

/* -- MAIN (SOBRENOSOTROS) -- */
.main-sobrenosotros .info-uno h3, .main-sobrenosotros .info-dos h3 {
  text-decoration: underline; }

.main-sobrenosotros .info-uno ul {
  color: white;
  margin-bottom: 0; }
  .main-sobrenosotros .info-uno ul li img {
    background-color: white; }
  .main-sobrenosotros .info-uno ul a {
    text-decoration: none;
    color: white;
    font-style: italic; }
  .main-sobrenosotros .info-uno ul a:hover {
    text-decoration: underline;
    color: #c5d9e7; }

.main-sobrenosotros .info-dos .formulario {
  display: flex; }
  .main-sobrenosotros .info-dos .formulario .comment-form {
    display: flex;
    flex-flow: column wrap;
    color: #c5d9e7;
    border-radius: 10px;
    border: 2px solid #c5d9e7;
    padding: 0.5rem; }
    .main-sobrenosotros .info-dos .formulario .comment-form input {
      width: 200px;
      height: auto; }
    .main-sobrenosotros .info-dos .formulario .comment-form textarea {
      margin-bottom: 0.5rem; }
    .main-sobrenosotros .info-dos .formulario .comment-form .boton-enviar {
      background-color: #c5d9e7;
      color: #333;
      border: none;
      padding: 0.5rem;
      border-radius: 5px; }
    .main-sobrenosotros .info-dos .formulario .comment-form .boton-enviar:hover {
      background-color: #ccc;
      color: #fff; }

.main-sobrenosotros .mapa {
  margin: 1rem; }

/* -- BODY -- */
body {
  font-family: 'Montserrat Alternates', sans-serif;
  background-image: url(../img/fondo.jpg);
  background-repeat: repeat;
  background-size: auto; }
  body .no-padding {
    padding: 0; }

/* -- HEADER -- */
header {
  background-color: #1a1818;
  margin: 0;
  /* -- MENU NAV -- */ }
  header div {
    display: flex;
    align-items: center; }
    header div a img {
      width: 95px;
      height: 95px;
      margin: 0.5rem;
      padding: 0.5rem; }
    header div h1 {
      color: #23439b;
      background-color: #1a1818;
      padding: 0.5rem;
      margin: 0; }
  header nav .navbar-toggler {
    background-color: #4fa3dc; }
  header nav .nav-link:hover {
    text-decoration: underline; }

/* -- MAIN -- */
main h3 {
  color: #c5d9e7;
  margin-top: 0.5rem; }

main h4 {
  color: #c5d9e7; }

main img {
  transition: transform 0.3s ease; }

main img:hover {
  transform: scale(1.02); }

main hr {
  color: white; }

/* -- FOOTER -- */
.pie-pagina {
  background-color: #1a1818;
  padding: 0.5rem;
  display: flex;
  align-items: center; }
  .pie-pagina h4 {
    background-color: #1a1818;
    color: #23439b;
    margin: 0.5rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto; }
  .pie-pagina p {
    color: #c5d9e7;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem; }
  .pie-pagina .footer-icons {
    display: flex;
    width: fit-content; }
    .pie-pagina .footer-icons a {
      padding: 0.5rem;
      transition: transform 0.3s ease; }
    .pie-pagina .footer-icons a:hover {
      transform: scale(1.1); }
