/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
//IMPORTS
@import "herramientas/variables";
@import "herramientas/mixin";
@import "herramientas/extend";

/* -- BODY -- */
body{
    font-family: 'Montserrat Alternates', sans-serif;
    background-image: url(../img/fondo.jpg);
    background-repeat: repeat;
    background-size: auto;
}

/* -- HEADER -- */
header{
    background-color: rgb(26, 24, 24);
    margin: 0;
    div{
        display: flex;
        align-items: center;
        a img{
            width: 95px;
            height: 95px;
            margin: 0.5rem;
            padding: 0.5rem ;
        }
        h1{
            color: rgb(35, 67, 155);
            background-color: rgb(26, 24, 24);
            padding: 0.5rem;
            margin: 0;
        }
    }

    /* -- MENU NAV -- */
    nav{
        .navbar-toggler{
            background-color: rgb(79, 163, 220);
        }
        .nav-link:hover{
            text-decoration: underline;
        }
    }
}
.no-padding{
    padding: 0;
}

/* -- MAIN -- */
main{
    h2{
        text-decoration: underline;
        color: $color-secundario;
        margin: 0.5rem;
        padding: 0.5rem;
        display: grid;
        justify-content: center;
    }
    p{
        color: white;
        text-indent: 0.5rem;
        background-color: rgba(0, 0, 0, 0.650);
    }
    h3{
        color: $color-secundario;
        margin-top: 0.5rem;
    }
}

/* -- MAIN (INDEX) -- */
.index-main{
    p{
        margin-bottom: 0.6rem;
    }
    div{
        display: flex;
        justify-content: center;
        padding: 0.5rem;
    }
    .introduccion, .introduccion-dos{
        p{
            margin: 0.1rem;
            height: fit-content;
        }
    }
    .introduccion-dos{
        padding: 0;
        .div-uno{
            margin: 0.1rem;
            padding: 0;
            display: grid;
            grid-template-areas: 
            "p1 section-img1"
            "p2 section-img1";
            .p1{
                grid-area: p1;
            }
            .p2{
                grid-area: p2;
            }
            img{
                width: auto;
                height: 300px;
                grid-area: section-img1;
            }
        }
        .div-dos{
            display: grid;
            grid-template-areas: 
            "h33 h33"
            "section-img2 p3";
            h3{
                grid-area: h33;
            }
            p{
                grid-area: p3;
                align-self: center;
                justify-self: center;
            }
            img{
                grid-area: section-img2;
                width: 450px;
                height: auto;
            }
        }
    }
}


/* -- MAIN (GALERÍA) -- */
.galeria-p p{
    margin-bottom: 0.5rem;
}

.galeria-img{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: 80%;
    justify-content: space-evenly;
    .row{
        display: grid;
        height: 100%;
        width: auto;
        margin: 0.5rem;
    }
}

/* -- MAIN (NOTICIAS) -- */
.news{
    display: flex;
    justify-content: space-evenly;
    .noticias{
        width: 300px;
        margin: 20px;
        img{
            width: 100%;
            height: auto;
        }
        h3{
            font-style: italic;
        }
        p{
            margin-bottom: 10px;
        }
        a{
            display: block;
            margin-top: 10px;
            color: white;
        }
        a:hover{
            font-style: italic;
        }
    }
}

/* -- MAIN (SOBRENOSOTROS) -- */
.info{
    .formulario{
        display: block;
        fieldset{
            color: white;
            display: inline-block;
        }
        label, textarea{
            display: block;
        }  
    }
    h3{
        text-decoration: underline;
    }
    ul{
        color: white;
    }
}

/* -- FOOTER -- */
footer{
    background-color: $color-principal1;
    padding: 5px;
    h4{
        margin: 5px;
        text-align: center;
        color: rgb(57, 92, 187);
    }
}

/* -- MEDIA QUERIES CELULAR -- */
/* HAY QUE ARREGLAR TODO ESTO. LO DEJO PARA SABER POR DONDE EMPEZAR*/
@media screen and (min-width:345px){ 
    /* MENU NAV */
    .navbar-fixed .navbar-collapse{
        display: block;
        position: static;
        height: auto;
    }
    .navbar-fixed .navbar-nav{
        flex-direction: row;
    }
    .navbar-fixed .navbar-nav .nav-item{
        text-align: center;
    }
    .navbar-fixed .navbar-nav .nav-link{
        padding: 3px;
        margin: 3px;
    }

    /* INDEX */
    .imagen-index{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(2, 50%);
    }
    .imagen-index p{
        flex-direction: column;
        width: auto;
    }
    .section-img{
        display: flex;
        flex-direction: column;
    }
    .index-section-img img{
        width: 100%;
        height: auto;
        margin: 5px;
        padding: 5px;
    }
    
    /* GALERÍA */
    .galeria-img{
        display: flex;
        flex-direction: column;
    }
    .galeria-img .row img{
        margin-bottom: 0.5rem;
    }

    /* NOTICIAS */
    .news{
        width: fit-content;
        display: flex;
        flex-flow: column nowrap;
    }
}

/* media queries TABLET */


/* -- MEDIA QUERIES DESKTOP -- */
/* HAY QUE ARREGLAR TODO ESTO. LO DEJO PARA SABER POR DONDE EMPEZAR*/
@media screen and (min-width:1024px){
    /* -- MENU NAV -- */
    .navbar-fixed .navbar-nav{
        flex-direction: row;
    }
    .navbar-fixed .navbar-nav .nav-item{
        width: auto;
        text-align: center;
    }
    .navbar-fixed .navbar-nav .nav-link{
        padding: 8px;
        margin: 0;
    }
    
    /* INDEX */
    .imagen-index{
        display: grid;
        grid-template-columns: 65% 35%;
        grid-template-rows: auto;
    }
    .imagen-index img{
        width: auto;
        height: 80%;
    }
    .index-section-img{
        display: flex;
        flex-direction: row;
        width: 200px;
        height: 400px;
        justify-content: center;
        gap: 20px;
        padding: 10px;
    }

    /* GALERÍA */
    .galeria-p p{
        margin-bottom: 6px;
    }
    .no-margin{
        margin: 4px;
    }
    .galeria-img{
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        grid-template-rows: 80%;
        justify-content: space-evenly;
    }

    /* NOTICIAS */
    .news{
        display: flex;
        flex-direction: row;
        width: fit-content;
    }
    .noticias{
        width: fit-content;
        height: auto;
    }
}