/* -- MAIN (INDEX) -- */
.index-main{
    .intro-img{
        @extend %flex;
        img{
            @extend %box-shadow;
            border-radius: 50%;
        }
    }
    .introduccion, .introduccion-dos{
        p{
            margin: 0;
            height: fit-content;
        }
    }
    .introduccion-dos{
        padding: 0;
        .div-uno{
            margin: 0.1rem;
            padding: 0;
            display: flex;
            .div-uno-imagen{
                img{
                    @include wyh (auto, 300px);
                    @extend %box-shadow;
                    border-radius: 30px;
                    margin-left: 0.5rem;
                }
            }
        }
        .div-dos{
            display: flex;
            padding: 0.1rem;
            div{
                p{
                    margin-left: 0.5rem;
                }
            }
            a{
                img{
                    margin-right: 0.5rem;
                    @include wyh (450px, auto);
                    @extend %box-shadow;
                    border-radius: 30px;
                }
            }
        }
    }
}