/* -- MAIN (INDEX) -- */
.index-main{
    div{
        @extend %flex;
        img{
            @extend %box-shadow;
        }
    }
    .introduccion, .introduccion-dos{
        p{
            margin: 0.1rem;
            height: fit-content;
        }
    }
    .introduccion-dos{
        padding: 0;
        .div-uno{
            margin: 0.1rem;
            padding: 0;
            display: grid;
            grid-template-areas: 
            "p1 section-img1"
            "p2 section-img1";
            .p1{
                grid-area: p1;
            }
            .p2{
                grid-area: p2;
            }
            img{
                @include wyh (auto, 300px);
                grid-area: section-img1;
                @extend %box-shadow;
                margin-left: 0.5rem;
            }
        }
        .div-dos{
            display: grid;
            grid-template-areas: 
            "h33 h33"
            "section-img2 p3";
            padding: 0.1rem;
            h3{
                grid-area: h33;
            }
            p{
                grid-area: p3;
                align-self: center;
                justify-self: center;
                margin-left: 0.5rem;
            }
            img{
                grid-area: section-img2;
                margin-right: 0.5rem;
                @include wyh (450px, auto);
                @extend %box-shadow;
            }
        }
    }
}