/* -- MAIN (NOTICIAS) -- */
.noticias-main{
    .noticias{
        h3{
            font-style: italic;
        }
        img{
            @include wyh (100%, auto);
            border-radius: 10px;
        }
        p{
            margin-top: 0.2rem;
        }
        a{
            margin-top: 0.2rem;
            color: white;
        }
        a:hover{
            font-style: italic;
        }
        
        .div-news1, .div-news2{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto;
            justify-items: center;
            fieldset{
                color: $color-secundario;
                border-radius: 10px;
                border: 2px solid $color-secundario;
                padding: 0.5rem;
            }
            .noticia{
                width: 300px;
                margin: 20px;
            }
        }
    }
    .lista-noticias{
        ul{
            background-color: rgba(0, 0, 0, 0.650);
            li{
                color: white;
                a{
                    color: white;
                }
                a:hover{
                    font-style: italic;
                    text-decoration: underline $color-secundario;
                    color: $color-secundario
                }
            }
        }
    }
}
