/* -- MAIN (SOBRENOSOTROS) -- */
.info{
    .formulario{
        display: block;
        fieldset{
            color: white;
            display: inline-block;
        }
        label, textarea{
            display: block;
        }  
    }
    h3{
        text-decoration: underline;
    }
    ul{
        color: white;
    }
}