/* -- MEDIA QUERIES CELULAR -- */
@media screen and (min-width:345px) and (max-width:767px){
    /* GENERAL */
    h1, h2{
        text-align: center;
    }
    p{
        text-align: justify;
    }

    /* MAIN - INDEX */
    .index-main{
        div{
            img{
                @include wyh (40vh, auto);
            }
        }
        /* SECCIÓN 2 INDEX */
        .introduccion-dos{
            h3{
                text-align: center;
            }
            .div-uno{
                display: flex;
                flex-direction: column;
                align-items: center;
                overflow: hidden;
                .p2, .section-img1{
                    display: none;
                }
            }
            .div-dos{
                display: flex;
                flex-direction: column;
                align-items: center;
                overflow: hidden;
                a{
                    display: none;
                }
            }
        }
    }
    
    /* MAIN - EL UNIVERSO*/
    .universo-main{
        .div-universo{
            a{
                img{
                    @include wyh (40vh, auto);
                }
            }
        }
    }

    /* MAIN - GALERÍA */
    .galeria-main{
        .carousel{
            .carousel-item{
                img{
                    @include wyh (80%, auto);
                }
            }
        }
        .galeria-img{
            display: flex;
            flex-direction: column;
            img{
                justify-content: center;
                @include wyh (40vh, auto);
            }
        }
    }

    /* MAIN - NOTICIAS */
    .noticias{
        .div-news1, .div-news2{
            grid: none !important;
            overflow: hidden;
            .noticia{
                margin-bottom: 1rem;
            }
        }
    }

    /* MAIN - SOBRE NOSOTROS */
    .sobrenosotros-main{
        .formulario{
            overflow: hidden;
            textarea{
                width: 100%;
            }
        }
    }
}

/* MEDIA QUERIES TABLET */
@media screen and (min-width:768px){

}

/* -- MEDIA QUERIES DESKTOP -- */
@media screen and (min-width:1024px){

}