/* -- MEDIA QUERIES CELULAR -- */
@media screen and (min-width:345px) and (max-width:767px){
    /* GENERAL */
    h1, h2{
        text-align: center;
    }
    p{
        text-align: justify;
    }

    /* MAIN - INDEX */
    .index-main{
        div{
            img{
                @include wyh (40vh, auto);
            }
        }
        /* SECCIÓN 2 INDEX */
        .introduccion-dos{
            h3{
                text-align: center;
            }
            .div-uno, .div-dos{
                @include flex (column, wrap, none, center);
                overflow: hidden;
                .p2, .section-img1, a{
                    display: none;
                }
            }
        }
    }
    
    /* MAIN - EL UNIVERSO*/
    .universo-main{
        .div-universo{
            a{
                img{
                    @include wyh (40vh, auto);
                }
            }
        }
    }

    /* MAIN - GALERÍA */
    .galeria-main{
        .carousel{
            .carousel-item{
                img{
                    @include wyh (80%, auto);
                }
            }
        }
        .galeria-img{
            @include flex (column, wrap, none, none);
            img{
                justify-content: center;
                @include wyh (40vh, auto);
            }
        }
    }

    /* MAIN - NOTICIAS */
    .noticias{
        .div-news1, .div-news2{
            grid: none !important;
            overflow: hidden;
            .noticia{
                margin-bottom: 1rem;
            }
        }
    }

    /* MAIN - SOBRE NOSOTROS */
    .sobrenosotros-main{
        .formulario{
            overflow: hidden;
            textarea{
                width: 100%;
            }
        }
    }
}

/* MEDIA QUERIES TABLET */
@media screen and (min-width:768px) and (max-width:1023px){

    /* MENU NAV */
    .navbar{
        .navbar-collapse{
            display: flex !important;
            justify-content: flex-start;
        }
        .navbar-nav {
            flex-direction: row;
        }
        .nav-item {
            margin-left: 1rem;
        } 
        .navbar-toggler {
            display: none;
        }
    }

    /* INDEX */
    .index-main{
        .introduccion-dos{
            .div-uno, .div-dos{
                display: block !important;
                div, a{
                    @include flex (none, none , center, center);
                }
            }
        }
    }

    /* EL UNIVERSO */
    .universo-main{
        .div-universo{
            a{
                img{
                    @include wyh (40vh, auto)
                }
            }
        }
    }

    /* GALERÍA */
    .galeria-main{
        .carousel{
            margin-top: 0.5rem ;
            .carousel-item{
                img{
                    @include wyh (80%, auto);
                    margin: 0.5rem;
                }
            }
        }
        .galeria-img{
            @include flex (column, wrap , center, center);
            div{
                @include flex (column, wrap , center, center);
                img{
                    @include wyh (55%, auto);
                }
            }
        }
    }

    /* NOTICIAS */
    .noticias{
        overflow: hidden;
        .div-news1, .div-news2{
            .noticia{
                justify-content: space-evenly;
                p{
                    display: none;
                }
            }
        }  
    }
}
