/* -- MEDIA QUERIES CELULAR -- */
@media screen and (min-width:300px) and (max-width:767px){
    /* GENERAL */
    h1, h2{
        text-align: center;
    }
    p{
        text-align: justify;
    }

    /* MAIN - INDEX */
    .index-main{
        .intro-img{
            img{
                @include wyh (80%, auto);
            }
        }
        /* SECCIÓN 2 Y 3 - INDEX */
        .introduccion, .introduccion-dos{
            @include flex (column, wrap, none, center);
            h3{
                text-align: center;
            }
            .div-uno, .div-dos{
                .p1, .div-uno-imagen, a{
                    display: none;
                }
            }
        }
        .introduccion-dos{
            .div-dos{
                p{
                    margin-left: 0;
                }
            }
        }
    }
    
    /* MAIN - EL UNIVERSO*/
    .universo-main{
        h3, h4{
            text-align: center
        }
        .div-universo{
            a{
                display: flex;
                justify-content: center;
                img{
                    @include wyh (80%, auto);
                }
            }
        }
        .seccion-dos-universo{
            @include flex (column, wrap, none, center);
            a{
                @include wyh (90%, auto);
                img{
                    width: 80% !important;
                    height: auto !important;
                }
            }
        }
    }

    /* MAIN - GALERÍA */
    .galeria-main{
        .carousel{
            .carousel-item{
                img{
                    @include wyh (270px, auto);
                }
            }
        }
        .galeria-img{
            @include flex (column, wrap, center, center);
            div{
                @include flex (column, wrap, center, center);
                img{
                    @include wyh (70%, auto);
                }
            }
            
        }
    }

    /* MAIN - NOTICIAS */
    .noticias{
        .div-news1, .div-news2{
            grid: none !important;
            @include flex (column, wrap, center, center);
            overflow: hidden;
            .noticia{
                @include wyh (100%, auto);
                @include flex (column, wrap, center, center);
                fieldset{
                    @include flex (column, wrap, center, center);
                    @include wyh (90%, auto);
                }
                margin-bottom: 1rem;
            }
        }
    }

    /* MAIN - SOBRE NOSOTROS */
    .sobrenosotros-main{
        .formulario{
            overflow: hidden;
            textarea{
                width: 100%;
            }
        }
    }

    /* FOOTER - GENERAL */
    .pie-pagina{
        width: auto;
        .footer-icons{
            @include flex (column, wrap, center, center);
            margin: 0;
            padding: 0;
        }
    }
}

/* MEDIA QUERIES TABLET */
@media screen and (min-width:768px) and (max-width:1023px){

    /* MENU NAV */
    .navbar{
        .navbar-collapse{
            display: flex !important;
            justify-content: flex-start;
        }
        .navbar-nav {
            flex-direction: row;
        }
        .nav-item {
            margin-left: 1rem;
        } 
        .navbar-toggler {
            display: none;
        }
    }

    /* INDEX */
    .index-main{
        .introduccion-dos{
            .div-uno{
                @include flex (column, wrap , none, center);
                div{
                    .p1{
                        margin-bottom: 0.5rem;
                    }
                }
            }
            .div-dos{
                @include flex (column, wrap , none, center);
                a{
                    margin-bottom: 0.6rem;
                }
            }
        }
    }

    /* EL UNIVERSO */
    .universo-main{
        .div-universo{
            a{
                img{
                    @include wyh (40vh, auto)
                }
            }
        }
    }

    /* GALERÍA */
    .galeria-main{
        .carousel{
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            .carousel-item{
                img{
                    @include wyh (500px, auto);
                }
            }
        }
        .galeria-img{
            @include flex (column, wrap , center, center);
            div{
                @include flex (column, wrap , center, center);
                img{
                    @include wyh (55%, auto);
                    margin-top: 0.5rem;
                }
            }
        }
    }

    /* NOTICIAS */
    .noticias{
        overflow: hidden;
        .div-news1, .div-news2{
            .noticia{
                justify-content: space-evenly;
                p{
                    display: none;
                }
            }
        }  
    }
}

@media screen and (min-width: 1024px){
    
}